* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #131212;
    background: #0b0b0b;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: teal;
    color: #221e1e;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #181819;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration-color: #0a0a0a;
  }
  
  /* 
   ██████╗ █████╗ ██████╗ ██████╗ ███████╗    
  ██╔════╝██╔══██╗██╔══██╗██╔══██╗██╔════╝    
  ██║     ███████║██████╔╝██║  ██║███████╗    
  ██║     ██╔══██║██╔══██╗██║  ██║╚════██║    
  ╚██████╗██║  ██║██║  ██║██████╔╝███████║    
   ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═════╝ ╚══════╝    
  */
  
  .cards {
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card {
   
    flex: 0 0 calc(33.3333% - 20px);
    border: 1px solid hsl(0, 5%, 15%);
    border-radius: 30px;
    margin: 10px;
    padding: 15px;
    background-color: rgba(250, 235, 215, 0.975);
  }
  
  .card h2 {
    color: #333;
  }
  
  .card p {
    color: teal;
  }
  
  li {
    list-style: none;
  }
  .card a {
    color: rgb(17, 19, 19);
  }

  .btn {
    border-radius: 12px;
    background-color: #f06d0f;
    color: #0a0a0a;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e11422;
}

